# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# no raw data (this cannot be shared!)
/data/raw

# no exploratory plots that may expose individuals
/out/explore
